{% extends "layout_sidebar.html" %}
{% block title %}Foods | Demeter {% endblock %}
{% block body %}
		<style>
		.symptom{
		  	font-size: 1 rem;
		  	text-align: center;
		}
		</style>
	    <div class="page-header">
		    <h2>My plan for {{day}}</h2>
	    </div>

	    <!-- symptoms -->
		<div class="row">
		<h3>Today's symptoms</h3><br>
		{% if symptom_history|length != 0 %}	    
		   	{% for h in symptom_history %}
			<div class="col-xs-3 symptom">
				<div id="container_h_{{h.id}}">
				</div><br>
				{{h.symptom.name}} <a href="/symptoms/history/delete/{{h.id}}" class="btn btn-xs btn-danger"><i class="fas fa-minus-circle"></i></a>
			</div>
			{% endfor %}
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		No symptoms logged today, hooray!
		<h1>:)</h1>
		<a href="/symptoms/add">In case you start feeling bad, log it here ></a>
		</div></div>
	    {% endif %}
		</div>

		<script type="text/javascript" src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js"></script>
		<script type="text/javascript">
			// progressbar.js@1.0.0 version is used
			// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/
			{% for h in symptom_history %}
			var bar_{{h.id}} = new ProgressBar.SemiCircle('#container_h_{{h.id}}', {
			  strokeWidth: 6,
			  color: '#FFEA82',
			  trailColor: '#eee',
			  trailWidth: 1,
			  easing: 'easeInOut',
			  duration: 1400,
			  svgStyle: null,
			  text: {
			    value: '',
			    alignToBottom: false
			  },
			  from: {color: '#FFEA82'},
			  to: {color: '#ED6A5A'},
			  // Set default step function for all animate calls
			  step: (state, bar) => {
			    bar.path.setAttribute('stroke', state.color);
			    var value = Math.round(bar.value() * 100)/10;
			    if (value === 0) {
			      bar.setText('');
			    } else {
			      bar.setText(value);
			    }

			    bar.text.style.color = state.color;
				  }
				});
			  bar_{{h.id}}.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
			  bar_{{h.id}}.text.style.fontSize = '1.5rem';
			  bar_{{h.id}}.animate({{h.value|float/10}});
			  {% endfor %}
			</script>
		<!-- end symptoms -->
		<br><br>
	    {% if active_plan!=None %}
	    <div class="row">
	    <h3>Plan progress on <a href="/plans/view/{{active_plan.id}}">{{active_plan.title}}</a></h3>
	    <br>
	    {% for key in totals %}
		    <div class="col-xs-3 symptom">
				<div id="container_n_{{key.nutr_id}}">
				</div><br>
				{{key.nutr_desc}} ({{key.units}})<br>
				{% if indicator[key] %}<mark>{{totals[key]|round(2)}} {{key.units}}</mark>{% else %}{{totals[key]|round(2)}} {{key.units}}{%endif%}<br>
			</div>
	    {% endfor %}
		</div>
		<script type="text/javascript">
			// progressbar.js@1.0.0 version is used
			// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/
			{% for key in totals %}
			var bar_{{key.nutr_id}} = new ProgressBar.SemiCircle('#container_n_{{key.nutr_id}}', {
			  strokeWidth: 6,
			  color: '#FFEA82',
			  trailColor: '#eee',
			  trailWidth: 1,
			  easing: 'easeInOut',
			  duration: 1400,
			  svgStyle: null,
			  text: {
			    value: '',
			    alignToBottom: false
			  },
			  {% if indicator[key] %} //
			  {% if flags[key]=="Low" %} //if it is low it needs to go up
			  from: {color: '#ED6A5A'},
			  to: {color: '#00FF00'},
			  {% elif flags[key]=="High" %}
			  from: {color: '#00FF00'},
			  to: {color: '#ED6A5A'},
			  {% endif %}
			  {% else %} 
			  {% if flags[key]=="Low" %} //if it is low it's okay
			  to: {color: '#ED6A5A'},
			  from: {color: '#00FF00'},
			  {% elif flags[key]=="High" %}
			  from: {color: '#ED6A5A'},
			  to: {color: '#00FF00'},
			  {% endif %}
			  {% endif %}
			  // Set default step function for all animate calls
			  step: (state, bar) => {
			    bar.path.setAttribute('stroke', state.color);
			    var value = Math.round(bar.value() * 100);
			    if (value === 0) {
			      bar.setText('');
			    } else {
			      bar.setText(value+"%");
			    }

			    bar.text.style.color = state.color;
				  }
				});
			  bar_{{key.nutr_id}}.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
			  bar_{{key.nutr_id}}.text.style.fontSize = '1.5rem';
			  {% set lista = [totals[key]/plan_values[key],1]|sort %}
			  bar_{{key.nutr_id}}.animate({{lista[0]}});
			  {% if flags[key]=="High" %}
			  setTimeout(function(){
			  	bar_{{key.nutr_id}}.setText("{{(totals[key]/plan_values[key]*100)|int}}%");
			  }, 1500);
			  {% endif %}
			  {% endfor %}
			</script>
		{% endif %}
	    <!-- Breakfast -->
	    <div class="row">
	    <h3>Breakfast <a href="/foods/search?meal=Breakfast" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if breakfast|length != 0 %}
	    <table class="table table-hover display responsive no-wrap" style="width:100%">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in breakfast %}
			{% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
		
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods/search?meal=Breakfast">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div>

	    <!-- Lunch -->
	    <div class="row">
	    <h3>Lunch <a href="/foods/search?meal=Lunch" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if lunch|length != 0 %}
	    <table class="table table-hover display responsive no-wrap" style="width:100%">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in lunch %}
		  {% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods/search?meal=Lunch">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div>

	    <!-- Dinner -->
	    <div class="row">
	    <h3>Dinner <a href="/foods/search?meal=Dinner" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if dinner|length != 0 %}
	    <table class="table table-hover display responsive no-wrap" style="width:100%">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in dinner %}
		  {% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods/search?meal=Dinner">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div>

	    <!-- Snacks -->
	    <div class="row">
	    <h3>Snacks <a href="/foods/search?meal=Snacks" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if snacks|length != 0 %}
	    <table class="table table-hover display responsive no-wrap" style="width:100%">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in snacks %}
		  {% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div><!-- /.foods -->

    </div><!-- /.container -->
{% endblock %}
