{% extends "layout_sidebar.html" %}
{% block title %}Foods | Demeter {% endblock %}
{% block body %}
	    <div class="page-header">
		    <h2>My plan for October 21, 2018</h2>
	    </div>
	    {% if active_plan!=None %}
	    <div class="row">
	    <h3>Plan progress on <a href="/plans/view/{{active_plan.id}}">{{active_plan.title}}</a></h3>
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Flags </th>
			<th> Requirement </th>
			</tr>
		</thead>
		<tbody>
	    {% for key in totals %}
	    <tr>
	    	<td>{{key.nutr_desc}} ({{key.units}})</td>
	    	<td>{% if indicator[key] %}<mark>{{totals[key]}} {{key.units}}</mark>{% else %}{{totals[key]}} {{key.units}}{%endif%}</td>
	    	<td>{% if indicator[key] %}{{flags[key]}}{%endif%}</td>
	    	<td>{{plan_details[key]}} {{key.units}}</td>
	    </tr>
	    {% endfor %}
			</tbody>
		</table>
		</div>
		{% endif %}
	    <!-- Breakfast -->
	    <div class="row">
	    <h3>Breakfast <a href="/foods/search?meal=Breakfast" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if breakfast|length != 0 %}
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in breakfast %}
			{% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
		
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div>

	    <!-- Lunch -->
	    <div class="row">
	    <h3>Lunch <a href="/foods/search?meal=Lunch" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if lunch|length != 0 %}
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in lunch %}
		  {% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div>

	    <!-- Dinner -->
	    <div class="row">
	    <h3>Dinner <a href="/foods/search?meal=Dinner" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if dinner|length != 0 %}
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in dinner %}
		  {% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div>

	    <!-- Snacks -->
	    <div class="row">
	    <h3>Snacks <a href="/foods/search?meal=Snacks" class="btn btn-xs btn-primary"><i class="fas fa-plus"></i></a></h3>
	    {% if snacks|length != 0 %}
	    <table class="table table-hover">
		<thead>
			<tr>
			<th> Name </th>
			<th> Amount </th>
			<th> Calories </th>
			{% if active_plan!=None %}
			{% for key in totals %}
			<th>{{key.nutr_desc}} ({{key.units}})</th>
			{% endfor %}
			{% endif %}
			</tr>
		</thead>
		<tbody>
		{% for hist in snacks %}
		  {% set food = hist.food %}
		  <tr>
			<td><a href="/foods/{{food.ndb_id}}">{{food.long_desc}}</a> <a href="/foods/history/delete/{{hist.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a></td>
			<td>{{hist.quantity}} {{hist.weight.measure_desc}}</td>
			<td>{{food.nutr_208}}</td>
			{% if active_plan!=None %}
			{% for key in totals %}
			<td>{{food["nutr_"+key.nutr_id]}}</td>
			{% endfor %}
			{% endif %}
		  </tr>
		{% endfor %}
		</tbody>
		</table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		Nothing yet
		<h1>:(</h1>
		<a href="/foods">How about adding a new food?</a>
		</div></div>
	    {% endif %}
	    </div><!-- /.foods -->

    </div><!-- /.container -->
{% endblock %}