{% extends 'layout_sidebar.html' %}
{% block title %}{{plan.title}} | Demeter{% endblock %}

{% block body %}
	    <div class="page-header">
		    <h1>{{plan.title}}</h1>
		    <h3>{{plan.description}}</h3>
	    </div>
	    {% if plan.details.all()|length != 0 %}
	    <h4>Daily values <a href="/plans/{{plan.id}}/add" class="btn btn-xs btn-primary" role="button">Add</a></h4>
	    <table class="table table-hover">
		    <thead>
			    <th>Nutrient</th>
			    <th>Criteria</th>
			    <th>Value</th>
		    </thead>
		   <tbody>
		   	{% for d in plan.details %}
			<tr>
				<td><a href="/plan/details/delete/{{d.id}}" class="btn btn-xs btn-secondary"><i class="fas fa-minus-circle"></i></a>
				{{d.nutrient.nutr_desc}} ({{d.nutrient.units}})</td>
				<td>{{d.operator}}</td>
				<td>{{d.value}} {{d.nutrient.units}}</td></tr>
			{% endfor %}
		   </tbody>
	    </table>
	    {% else %}
	    <div class="well">
		<div class="starter-template">
		No plan details yet.
		<h1>:(</h1>
		<a href="/plans/{{plan.id}}/add">How about adding some nutrient criteria?</a>
		</div></div>
		{% endif %}
	    </div>
{% endblock %}
